
@{
    ViewBag.Title = "CertificateAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h3>New Certificate Add</h3>
<br />
<form method="post">
    <input type="text" name="Title" class="form-control" placeholder="Write to Certificate's Title" />
    <br />
    <input type="text" name="Category" class="form-control" placeholder="Write to Certificate's Category" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Write to Certificate's Date" />
    <br />
    <input type="text" name="Image" class="form-control" placeholder="Write to Certificates Url" />
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>
</form>



