
@{
    ViewBag.Title = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>New Skill Add</h3>
<br />
<form method="post">
    <input type="text" name="Name" class="form-control" placeholder="Write to Skill's Name" />
    <br />
    <input type="text" name="Percentage" class="form-control" placeholder="Write to Percentage" />
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>
</form>

