
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>New Admin Add</h3>
<br />
<form method="post">
    <input type="text" name="Username" class="form-control" placeholder="Write to Admins Username" />
    <br />
    <input type="text" name="Password" class="form-control" placeholder="Write to Admins Password" />
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>
</form>


