
@{
    ViewBag.Title = "EducationAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>New Education Add</h3>
<br />
<form method="post">
    <input type="text" name="Number" class="form-control" placeholder="Write to Number input" />
    <br />
    <textarea placeholder="Write to Talents Descriptions" name="Description" class="form-control" rows="4"></textarea>
    <br />
    <input type="text" name="Class" class="form-control" placeholder="Write to Class info" />
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>

</form>



